<div class="container">
    <div class="row">
        <div class="col">
            <a routerLink="/fruits/create" class="btn btn-primary">Create</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <table class="table table-primary">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fruit</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fruit of allFruits">
                <td>{{fruit.id}}</td>
                <td>{{fruit.name}}</td>
                <td>{{fruit.quantity}}</td>
                <td>{{fruit.price}}</td>
                <td><a [routerLink]="['/fruits/edit/', fruit.id]" class="btn btn-success">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>
